body {
	
background-color:	white ; /* old gray color #C8C8C8 */
}

h1 { 
font-family:"Lucida", Times, sans-serif;
}

h3 { 
font-family:"Lucida", Times, sans-serif;
}

p {
color: gray ;
font-family:"Lucida", Times, sans-serif;
text-align: justify;
}

img {
display: block;
margin: auto;
} 

